  
#background {
  height: 725px;
  background-color: #D4AC0D

}

.button-box {
  text-align: center;
  text-decoration: none;
}


body {
  background-color:rgb(245, 252, 252);
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;

}

.book {
  color: rgb(0, 0, 0);
  text-decoration: none;
   
}

.book, .join {
  background-color: #00B4D8;
  color: black; 
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  text-decoration: none;
}

.book:hover, .join:hover {
  background-color: #00B4D8;
  color: black; 

}

.card-img {
  border: 10px solid #D4AC0D;
}


#content {
  max-width: 1600px;
  margin: 0 auto;

}

h2 {
  margin: 0;
}

header {
  background-color:#396E94;
}

h4 {
  color: #2e363d; 
}

.home-title {
  color: #000000;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}



#hero-msg h1, #hero-msg h4 {
  text-align: center;
}


.join {
  color: rgb(255, 255, 255);
  text-decoration: none;
     
}


#logo_link {
  padding-top: 5px;
  
  
}
  
.msg {
  background-color: #396E94;
  line-height: 1.5em;
  padding: 35px;
   
}
  
.msg h2 {
  background-color: #396E94;
  color: white;
}
  
.msg p {
  color: white;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
  
}

main section {
  text-align: center;
  }

main section img {
  box-sizing: border-box;
}


nav a {
  text-align: center;
  color: azure;
  text-decoration: none;
  padding: 35px;
}

nav a:hover{
  background-color: #00B4D8;
  color: black;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}